<!DOCTYPE HTML>
<html>
<head>
  <title>Timeline | Basic demo</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.9.0/vis.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.9.0/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Load Management Monitoring</h1>
<div id="visualization"></div>

<script type="text/javascript">
  var container = document.getElementById('visualization');
  var items = {{ consolidations|safe }};
  var options = {};
  var timeline = new vis.Timeline(container, items, options);
</script>
</body>
</html>
